
<div class="container">
<h1>Jeux Tic-Tac-Toe avec SVG</h1>

<form (submit)="generateGrid(gridSizeInput); $event.preventDefault()">
  <label for="gridSize">Taper la taille de la grille  :</label>
  <input type="number" id="gridSize" name="gridSize" #gridSizeInput required min="3">

  <button type="submit">Créer la grille</button>
</form>

<svg id="grid" class="grid-svg" width="500" height="500" viewBox="0 0 100 100">
  <ng-container *ngFor="let row of grid; let i = index">
    <ng-container *ngFor="let cell of row; let j = index">
      <rect [attr.x]="j * (100 / gridSize) + '%'" [attr.y]="i * (100 / gridSize) + '%'" [attr.width]="100 / gridSize + '%'" [attr.height]="100 / gridSize + '%'" fill="green" (click)="handleCellClick(i, j)"></rect>
      <text *ngIf="cell" [attr.x]="j * (100 / gridSize) + 50 / gridSize + '%'" [attr.y]="i * (100 / gridSize) + 50 / gridSize + '%'" font-size="20" fill="black">{{ cell }}</text>
    </ng-container>
  </ng-container>
</svg>

<div class="result">
  <p *ngIf="gameResult">{{ gameResult }}</p>
</div>
</div>