

<div class="container">
  <h1>Jeux Tic-Tac-Toe</h1>

  <form (ngSubmit)="generateGrid(gridSizeInput)">
    <label for="gridSize">Taper la taille de la grille :</label>
    <input type="number" id="gridSize" name="gridSize" #gridSizeInput ngModel required min="3">
    <button type="submit">Créer la grille</button>
  </form>

  <svg id="grid" class="grid-svg" [attr.width]="svgWidth" [attr.height]="svgHeight" viewBox="0 0 100 100">
    <ng-container *ngFor="let row of grid; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <rect
          *ngIf="!cell"
          [attr.x]="j * cellWidth + '%'"
          [attr.y]="i * cellHeight + '%'"
          [attr.width]="cellWidth + '%'"
          [attr.height]="cellHeight + '%'"
          fill="green"
          (click)="handleCellClick(i, j)"
        ></rect>
        <text
          *ngIf="cell !== null"
          [attr.x]="j * cellWidth + cellWidth / 2 + '%'"
          [attr.y]="i * cellHeight + cellHeight / 2 + '%'"
          font-size="20"
          fill="black"
          dominant-baseline="middle"
          text-anchor="middle"
        >
          {{ cell }}
        </text>
      </ng-container>
    </ng-container>
  </svg>

  <div class="result" *ngIf="gameResult">
    <p>{{ gameResult }}</p>
  </div>

  <div>
    <button (click)="resetGame()">Réinitialiser</button>
  </div>
</div>
